body {
  background: linear-gradient(to bottom, #0d00ff29, #ebff006e);
}
/* 1. HEADER AND PREFERENCE BOX  */
.preference-container {
  display: flex;
  flex-direction: row;
}

.preference-box {
  justify-self: center;
  align-self: center;
}

/* 2. IMAGE RATING CONTAINER */
.image-rating-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  height: 100%;
  overflow: auto;
  grid-gap: 80px;
  padding: 0px 100px;
}
/* 2.1. RATING SECTION */
.section-wrapper {
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* .image-rating-card-column-wrapper {
  background: rgb(235, 236, 240);
} */

.train-button {
  width: 60%;
  justify-self: center;
  height: 60px;
}

.visualization-container canvas {
  width: 100% !important;
  height: 100% !important;
}

.section-wrapper-1.button-clicked-false .image-rating-card-column-wrapper {
  background: transparent;
}

.section-wrapper-1.visualization-done-false .image-rating-card-wrapper {
  display: none;
}

.section-wrapper-1.visualization-done-false .section-title {
  display: none;
}

.section-wrapper-1.button-clicked-true .train-button {
  display: none;
}

.section-wrapper-1.visualization-done-true .image-rating-card-wrapper {
  display: grid;
  background: white;
}

.section-wrapper-1.visualization-done-true .section-title {
  display: grid;
}

.section-wrapper-2 .image-rating-card-column-wrapper {
  background: transparent;
  display: none;
}

.section-wrapper-1.visualization-done-true ~ .section-wrapper-2 {
  display: flex;
}

.section-wrapper-1.visualization-done-true
  ~ .section-wrapper-2.visualization-done-false
  .image-rating-card-column-wrapper {
  display: grid;
}

.section-wrapper-2.visualization-done-false
  .image-rating-card-column-wrapper
  .image-rating-card-wrapper {
  display: none;
}

.section-wrapper-2.visualization-done-false .section-title {
  display: none;
}

.section-wrapper-2.button-clicked-true .train-button {
  display: none;
}

.section-wrapper-2.visualization-done-true .image-rating-card-column-wrapper {
  display: grid;
}
.section-wrapper-2.visualization-done-true .section-title {
  display: grid;
}
/* 2.2. IMAGE RATING CARD */
.image-rating-card-wrapper {
  cursor: grab;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, min-content);
  margin: 10px 20px;
  padding: 10px 10px;
  background-color: white;
  position: relative;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
}

.image-rating-card-wrapper img {
  height: 250px;
  width: 100%;
  grid-column: 1 / -1;
  grid-row: 1;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
}

.image-rating-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  grid-column: 1 / -1;
  grid-row: 2;
  justify-content: center;
  padding: 10px;
}

.image-rating-slider {
  grid-column: 1 / -1;
  grid-row: 3;
  color: blueviolet;
}
